{% extends 'admin_index.html'%}
{% block title %}admin_applied_candidate
{% endblock %}
{% block subtitle %}RECRUITER{% endblock %}
{% block body %}
<h2 class="text-center">JOB APPLICANTS HISTORY</h2>
<table class="table table-dark table-striped " >
            <thead >
              <tr>
                  <th class="text-center">APPLICANT NAME</th>
                  <th class="text-center">EMAIL</th>
                  <th class="text-center">CONTACT</th>
              </tr>
            </thead>
            <tbody>
                {% for k in applicants %}
                <tr>
                    <td class="text-center">{{k.applicant_id.name}}</td>
                    <td class="text-center">{{k.applicant_id.email}}</td>
                    <td class="text-center">{{k.applicant_id.contact}}</td>

                </tr>
                {% endfor %}
            </tbody>
</table>
{% endblock %}