{% extends 'admin_index.html'%}
{% block title %}admin_dashboard
{% endblock %}
{% block subtitle %}Dashboard{% endblock %}
{% block body %}
<div class="row">
            <div class="col-sm-3 text-lg-center">
              <div class="card">
                <div class="card-body bg-secondary">
                  <h5 class="card-title font-weight-bold">Total Job Seekers</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="blue" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                    </svg><br><br>
                  <h4 class="card-text font-weight-bold">{{job_seeker_count}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 text-lg-center">
              <div class="card">
                <div class="card-body bg-secondary">
                  <h5 class="card-title font-weight-bold">Total Job Providers</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="blue" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                    </svg><br><br>
                  <h4 class="card-text font-weight-bold">{{recruiter_count}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 text-lg-center">
              <div class="card">
                <div class="card-body bg-secondary">
                  <h5 class="card-title  font-weight-bold">Total Notifications</h5>
                     <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="blue" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207z"/>
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                    </svg><br><br>
                  <h4 class="card-text font-weight-bold">{{job_openings}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 text-lg-center">
              <div class="card">
                <div class="card-body bg-secondary">
                  <h5 class="card-title  font-weight-bold">Active Notifications</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="blue" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg><br><br>

                  <h4 class="card-text font-weight-bold">{{current_jobs}}</h4>
                </div>
              </div>
            </div>
</div>

        <div class="row">
          <div class="col-md-6 ">
              <!-- Colorful chart or graph -->
              <canvas id="myChart" style="width:100%;max-width:500px"></canvas>
          </div>
          <div class="col-md-6 ">
              <h3 class="text-center font-weight-bold">Job count for each company</h3>
            <!-- Table content -->
              <table class="table table-dark table-striped " >
                  <thead >
                     <tr>
                        <th class="text-center">Company Name</th>
                        <th class="text-center">Job Count</th>
                     </tr>
                  </thead>
                  <tbody>
                    {% for count in job_count_of_each_company %}
                       <tr>
                          <td class="text-center">{{count.company_id__company_name}}</td>
                          <td class="text-center">{{count.job_count}}</td>
                       </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>


{% endblock %}