{% extends 'hr_index.html'%}
{% block title %}hr_profile_updation
{% endblock %}
{% block compy %}{{data1}}{% endblock %}
{% block body %}
<div class="container mt-5 mb-5 col-sm-10">
    <div class="row">
        <div class="col-sm-10 bg-secondary text-white p-2">
            <h2 class="text-center">UPDATE YOUR PROFILE</h2>
            <form  method="POST">
                {% csrf_token %}
                {% for hr_update_profiles in hr_updates %}
                <div class="mb-3 mt-3 ">
                    <label for="companyname1">Company Name:</label>
                    <input type="text" class="form-control" id="companyname1" value="{{hr_update_profiles.company_name}}" name="companyname">
                </div>
                <div class="mb-3 mt-3">
                    <label for="companyaddress1">Address:</label>
                    <input  type="text" class="form-control" rows="5" id="companyaddress1"  value="{{hr_update_profiles.company_address}}" name="companyaddress">
                </div>
                <div class="mb-3 mt-3 ">
                    <label for="companyemail1">Email:</label>
                    <input type="email" class="form-control" id="companyemail1"  value="{{hr_update_profiles.company_email}}" disabled="true" name="companyemail">
                </div>
                <div class="mb-3 mt-3 ">
                    <label for="companycontact">Contact Number:</label>
                    <input type="tel" class="form-control" id="companycontact" value="{{hr_update_profiles.company_contact}}" name="companycontactnumber">
                </div>
                <div class="mb-3 mt-3 ">
                    <label for="psw">Password:</label>
                    <input type="text" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" value="{{hr_update_profiles.company_password}}" required>
                </div>
                <div class="mb-3 mt-3 ">
                    <label for="psw1">Confirm Password:</label>
                    <input type="password" id="psw1" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}