{% extends 'index.html'%}
{% block title %}Application
{% endblock %}
{% block jobseeker %}{{applicant_name}}{% endblock %}
{% block body %}
{% if status == 'exist' %}
<div class=" container">
  <div class="alert alert-warning">
    <strong>Sorry! You are already applied.</strong>
</div>
</div>
{% else %}
<div class="container mt-3 col-sm-10">
  <h2 class="text-center">PROFILE UPLOAD</h2>
  <h6 class="text-center">Please enter all relevant personal information in the fields below.</h6>
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="name1">Name:</label>
      <input type="text" class="form-control" id="name1" value="{{applicant_name}}" disabled="true" name="name">
    </div>
    <div class="mb-3 mt-3">
      <label for="organization">Organization Name:</label>
      <input type="text" class="form-control" id="organization" value="{{company_name}}" disabled="true"  name="organizationname">
    </div>
    <div class="mb-3">
      <label for="sel2">Total Experience:</label>
      <select type="Number" class="form-select" id="sel2" name="sellist2">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
      </select>
    </div>
    <div class="mb-3 mt-3">
      <label for="cl1">Cover Letter:</label>
      <textarea class="form-control" rows="20" id="cl1" name="coverletter"></textarea>
    </div>
    <div class="mb-3">
      <label for="formFileReadonly" class="form-label">Upload Your Resume</label>
      <input class="form-control" type="file" id="formFileReadonly" name="resume" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endif %}
{% endblock %}
