<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">


</head>
<body>
    <div class=" container  neon__button">
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            JOB SEEKER
        </a>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            HR MANAGER
        </a>

    </div>
</body>
</html>